.EquallyCalcForm label {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 15px;
}

.EquallyCalcForm label span, .EquallyCalcForm label input {
    width: 45%;
}

.EquallyCalcForm .controlBlock {
    margin-top: 30px;
}