.IndividualCalcForm .Person {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    line-height: 50px;
}

.IndividualCalcForm input[type="text"], .IndividualCalcForm input[type="number"] {
    width: 35%;
    margin-right: 10px;
}

.IndividualCalcForm input, .IndividualCalcForm button {
    align-self: center;
}

.IndividualCalcForm button.removeButton, .IndividualCalcForm button.addButton {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}

.IndividualCalcForm button.removeButton img {
    width: 20px;
}

.IndividualCalcForm .parameters {
    margin-top: 20px;
}

.IndividualCalcForm label {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    line-height: 50px;
}

.IndividualCalcForm label span {
    width: 35%;
}

.IndividualCalcForm .submitButton {
    margin-top: 30px;
}